@import '../variables.css';

.Login{
    text-align: center;
    & .title{
        color: var(--colorPrincipal);
        font-weight: 600;
    }
    & .formulario{
        display: flex;
        flex-direction: column;
        & .input{
            font-family: var(--fuente);
            color: var(--colorSecundario);
            border: none;
            border-bottom: 1px solid var(--colorInput);
            margin-bottom: 1em;
            padding: .5em 1em;
            font-family: 1rem;
            &:focus{
                outline: none;
                border-bottom-color: var(--colorSecundario);
            }
            &::placeholder{
                color: var(--colorInput);
            }
        }
        & .btn{
            @apply --btn;
        }
    }
}