@import '../variables.css';

.Menu{
    background: var(--colorPrincipal);
    min-height: 100vh;
    padding: 2em;
    text-align: center;
    @media(--tablet){
        min-height: auto;
        grid-row-start: 2;
    }
    & .nombre{
        border-bottom: 1px solid white;
        padding-bottom: 1em;
    }
    & .menu{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        @media(--tablet){
            flex-direction: row;
        }
        & .item{
            list-style: none;
            margin: 1em 0;
            & a{
                display: flex;
                flex-direction: column;
                color: white;
                text-decoration: none;
                padding: 1em;
                & .icono{
                    font-size: 3rem;
                    color: var(--colorHora);
                    margin-bottom: .2em;
                    transition: .3s;
                }
                &:hover{
                    & .icono{
                        color: white;
                    }
                }
            }
        }
    }
}