@import '../variables.css';
.Search{
    display: grid;
    grid-template-columns: 1fr 5fr;
    overflow: hidden;
    border-radius: 5px;
    width: 40%;
    & .icono{
        background: var(--colorSearh);
        padding: 1em 2em;
    }
    & .input{
        background: var(--colorSearh);
        border: none;
        padding: 1em 2em;
        color: white;
        &::placeholder{
            color: color(white a(80%));
        }
        &:focus{
            outline: none;
        }
    }
}