
@custom-media --animacion (width > 500px);
@custom-media --tablet (width < 800px);
@custom-media --mobile (width < 500px);
@custom-media --min (width <= 360px);
*{
	transition: .3s;
}
body{
	font-family: 'Montserrat', system-ui;
	margin: 0;
	padding: 0;
	overflow-x: hidden;

}
h1,h2,h3,h4,h5,figure,ul{
	margin: 0;
	padding: 0;
}
p{
	line-height: 1.5em;
}
img{
	width: 100%;
	vertical-align: top;
}
